* {
  margin: 0;
  padding: 0; }

.wrapper {
  width: 1583px;
  height: 100%;
  position: relative;
  margin: 0 auto; }

header {
  width: 1583px;
  height: 688px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #f6f2f2; }
  header a.item {
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    color: #e0e0e0;
    text-transform: uppercase;
    line-height: 90px;
    margin: 0 20px 0; }
    header a.item:hover {
      background-color: #ff3f40; }

.nav {
  width: 1249px;
  height: 89px;
  background-color: #313030;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 59px; }

.content-box {
  width: 1249px;
  height: 365px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 89px; }

.header__text {
  width: 700px;
  height: 356px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  text-align: start; }
  .header__text h1 {
    font-size: 60px;
    font-weight: 800;
    line-height: 72px;
    text-transform: uppercase;
    font-family: Open Sans; }
  .header__text p {
    width: 500px;
    font-size: 16px;
    line-height: 30px;
    font-family: Open Sans;
    color: #a7a6a6; }
  .header__text button {
    width: 227px;
    height: 55px;
    background-color: #ff2d2d;
    font-size: 19px;
    color: white;
    font-weight: 400; }

.header__video {
  width: 551px;
  height: 356px; }

footer {
  width: 1583px;
  height: 111px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #313030; }

.icons {
  width: 200px;
  height: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 167px; }

p.footer__text {
  color: #b8b8b8;
  font-size: 16px;
  margin-left: 167px; }

.footer__icon-rounded {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ebebeb;
  display: flex;
  justify-content: center;
  align-items: center; }
  .footer__icon-rounded:hover {
    background-color: white;
    width: 45px;
    height: 45px; }

.footer__icon {
  color: #313030;
  font-size: 20px;
  text-decoration: none; }
